.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 52px;
    width: 93%;
    // z-index: 0;
    // opacity: 0;
   // transform: translateY(20px);
   // animation: card-animation 2s ease-out forwards;

    @media screen and (max-width:767px) {
        width: 300px;
        flex-direction: column;
        row-gap: 20px;
        column-gap: 0;
        align-items: center;
    }

    @media screen and (min-width:768px) and (max-width:992px) {
        width: 100%;
        row-gap: 30px;
    }

    .card {
        cursor: pointer;
        border-radius: 15px;
        width: 300px;
        height: 184px;
        background: #262525;
        border: 1px solid white;
        position: relative;

        @media screen and (max-width:767px) {
            height: 164px;
            width: 260px;
        }

        @media screen and (min-width:768px) and (max-width:992px) {
            height: 174px;
            width: 270px;
        }

        .card_img {
            width: 100%;
            height: 80%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }

        .card_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 15px 3px 15px;
            color: white;

            .title {
                margin: 0;

                @media screen and (max-width:767px) {
                    font-size: 14px;
                }

                @media screen and (min-width:768px) and (max-width:992px) {
                    font-size: 18px;
                }
            }

            .hover_text {
                display: none;
                color: aqua;

                @media screen and (max-width:767px) {
                    font-size: 12px;
                    font-weight: 600;
                }

                @media screen and (min-width:768px) and (max-width:992px) {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    .card:hover {
        border: 2px solid aqua;
        box-shadow: 4px 5px 19px 3px #45F0FF;

        .hover_text {
            display: flex;
            gap: 10px;
            align-items: baseline;
        }
    }
}

@keyframes card-animation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}