.collapse {
    padding: 45px 0 45px 0;
    display: flex;
    justify-content: center;

    @media screen and (min-width:768px) and (max-width:992px) {
        width: 43em;
    }

    .collapse-header {
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        gap: 20px;
        align-items: baseline;
        background: #66d9ed;
        border-radius: 5px;
        width: 500px;
        color: white;
        font-size: 20px;

        @media screen and (max-width:767px) {
            width: 334px;
            height: 72px;
            align-items: center;
            font-size: 18px;
            gap: 0;
            margin-top: -70px;
        }

        @media screen and (min-width:768px) and (max-width:992px) {
            width: 450px;
            font-size: 18px;
            text-align: center;
        }
    }

    .collapse-header:hover {
        box-shadow: 10px 5px 5px aqua;
        background-color: aqua;
        font-weight: 600;
        font-size: 20px;

        .arrow {
            transform: rotate(180deg);
        }
    }

    .collapse_mobile {
        display: none;
    }

    @media screen and (max-width:767px) {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;

        .collapse_desktop {
            display: none;
        }

        .collapse_mobile {
            display: block;
            cursor: pointer;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            gap: 20px;
            align-items: baseline;
            background: #66d9ed;
            border-radius: 5px;
            width: 500px;
            color: white;
            font-size: 20px;

            @media screen and (max-width:767px) {
                width: 334px;
                height: 72px;
                align-items: center;
                font-size: 18px;
                gap: 0;
            }
        }
    }

    .collapse_header_mobile {
        display: flex;
        justify-content: center;
        gap: 54px;
        width: 334px;
        height: 72px;
        font-size: 18px;
        align-items: baseline;
        background: #66d9ed;
        border-radius: 5px;
        color: white;
    }
}