#root {
    font-family: 'Montserrat', sans-serif;
    background: #262525;

    @media screen and (max-width:321px) {
        width: 72.3vh;
    }
}

#about_me {
    height: 50px;

    @media screen and (max-width:767px) {
        display: flex;
        justify-content: center;
    }
}

#skills {
    height: 72px;
    margin-top: 350px;
}

.skill_content {
   

    @media screen and (max-width:767px) {
        margin-top: 10px;
    }

    .skills_title {
        font-size: 30px;
        text-align: center;
        color: aqua;

        @media screen and (max-width:767px) {
            font-size: 24px;
        }

        @media screen and (min-width:768px) and (max-width:992px) {
            font-size: 26px;
        }
    }
}

#projects {
    height: 50px;
}

#project {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 50px 0 75px 0;

    .title_projects {
        color: aqua;
        font-size: 30px;

        @media screen and (max-width:767px) {
            font-size: 24px;
        }

        @media screen and (min-width:768px) and (max-width:992px) {
            font-size: 26px;
        }
    }
}

#contact {
    height: 50px;
}

.message_sent {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    text-align: center;
    color: black;

    @media screen and (max-width:767px) {
        font-size: 14px;
    }

    h3 {
        margin-top: 15px;
    }
}