.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1999;

    .modal_window {
        z-index: 1105;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1.5em;
        left: 0;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;

        @media screen and (max-width:767px) {
            width: auto;
            left: 24px;
            top: 3em;
        }

        .content {
            position: relative;
            border-radius: 7px;
            height: auto;
            max-height: 96vh;
            border: 1px solid aqua;
            box-shadow: -2px 2px 26px cyan;
            background: #253c3e;

            .close_modal {
                cursor: pointer;
                margin: 10px 10px 0 674px;
                border: 0 solid;
                background: #ede8ea;
                font-size: unset;
                color: white;
                background: #253c3e;

                @media screen and (max-width:767px) {
                    margin: 7px 5px 0 302px;
                    font-size: 14px;
                }
            }

            .close_modal:hover {
                font-weight: 700;
                font-size: 18px;
            }


            .modal_content {
                overflow: hidden;
                width: 706px;
                position: relative;

                @media screen and (max-width:767px) {
                    width: 330px;
                }

                @media screen and (min-width:768px) and (max-width:992px) {
                    height: 28em;
                }

                .modal_image {
                    img {
                        width: 90%;
                        border-radius: 5px;
                        position: relative;
                        left: 5%;
                        bottom: -18px;

                        @media screen and (min-width:768px) and (max-width:992px) {
                            height: 230px;
                        }
                    }
                }

                .modal_description {
                    display: grid;
                    padding: 22px;
                    color: white;
                    text-align: center;

                    @media screen and (max-width:767px) {
                        // margin-top: 5px;
                    }

                    @media screen and (min-width:768px) and (max-width:992px) {
                        padding: 14px;
                    }

                    h2 {
                        place-self: center;
                        margin-top: 5px;
                        margin-bottom: 3px;

                        @media screen and (max-width:767px) {
                            font-size: 16px;
                        }

                        @media screen and (min-width:768px) and (max-width:992px) {
                            font-size: 18px;
                        }
                    }

                    .description_text {
                        width: 80%;
                        place-self: center;
                        text-align: center;
                        line-height: 24px;
                        font-size: 16px;

                        @media screen and (max-width:767px) {
                            line-height: 22px;
                            font-size: 12px;
                            text-align: center;
                            width: 102%;
                        }

                        @media screen and (min-width:768px) and (max-width:992px) {
                            font-size: 14px;
                            width: 89%;
                            line-height: 22px;
                        }
                    }

                    .button_github {
                        cursor: pointer;
                        width: 76px;
                        place-self: end;
                        color: white;
                        background-color: aqua;
                        border: aqua;
                        border-radius: 10px;
                        height: 38px;
                        font-weight: 600;
                        font-size: 16px;

                        @media screen and (max-width:767px) {
                            font-size: 14px;
                            width: 102px;
                            height: 36px;
                            place-self: center;
                            margin-top: 6px;
                        }

                        @media screen and (min-width:768px) and (max-width:992px) {
                            font-size: 14px;
                            width: 70px;
                        }
                    }

                    .button_github:hover {
                        box-shadow: 10px 4px 4px aqua;
                        background-color: aqua;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}